/ChatGPT
/CUC
/Documentación
/Guías
/numpy
/pandas
/pruebas-old
/SQL
/data.csv

# For Python MySQL Tutorial
mysql_credentials.py
__pycache__

# For Python MongoDB Tutorial
playground-1.mongodb.js
mongodb_credentials.py

# For Python MCM
/pruebas/mcm/mcm_pruebas.py

# For projecteuler.net
/project-euler/
