/ChatGPT
/CUC
/Documentación
/Guías
/numpy
/pandas
/pruebas
/SQL
/data.csv

# For Python MySQL Tutorial
mysql_credentials.py
__pycache__

# For Python MongoDB Tutorial
playground-1.mongodb.js
mongodb_credentials.py
